.contact-us {
  background-color: #ffffff;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.contact-header {
  text-align: center;
  margin-bottom: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contact-header h2 {
  color: #662C90;
  margin-bottom: 10px;
  font-size: 18px;
}

.contact-header h1 {
  font-size: 28px;
  color: #333333;
  margin-bottom: 0;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.important {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 100%;
  text-align: left;
}

.important h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

.important p {
  margin: 0;
  color: #666666;
}

.contact-methods {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

.method {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.method p {
  margin: 0;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.contact-form-wrapper {
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333333;
}

.input-icon-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 25px;
  background-color: #f0f0f0;
  outline: none;
  box-sizing: border-box;
}

.form-control::placeholder {
  color: #666666;
}

.with-icon {
  padding-left: 40px;
}

.form-group textarea {
  resize: vertical;
  height: 300px;
  padding: 10px;
  border-radius: 25px;
  background-color: #f0f0f0;
  outline: none;
  box-sizing: border-box;
}

button {
  padding: 15px;
  background-color: #662C90;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #5a00b8;
}

@media (min-width: 768px) {
  .contact-header h1 {
    font-size: 36px;
  }

  .contact-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .contact-methods {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .contact-header h1 {
    font-size: 48px;
  }

  .contact-content {
    gap: 150px;
  }
}
