.hero {
    background-color: #f5f5f5;
    padding: 80px 20px;
    text-align: center;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
    font-family: "Santral-Regular", sans-serif;

  }
  
  .hero p {
    font-size: 18px;
    color: #666666;
    font-family: "Santral-Regular", sans-serif;
  }

  