.recent-articles {
  padding: 40px;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.recent-articles h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.article-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  gap: 20px;
}

.article-card {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.article-card.wide,
.article-card.tall {
  padding: 0;
}

.article-card.wide {
  grid-column: 1 / 2;
}

.article-card.tall {
  grid-column: 2 / 3;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.half-overlay .overlay {
  width: 50%;
}

.full-overlay .overlay {
  width: 100%;
}

.overlay-content {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay h3 {
  font-size: 18px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.overlay p {
  font-size: 16px;
  margin-bottom: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.overlay-content .read-article {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}


.see-all {
  display: block;
  text-align: right;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.article-grid .second-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 2;
  gap: 20px;
}

.article-grid .second-row .article-card {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.article-grid .second-row .article-card,
.article-card.wide,
.article-card.tall {
  height: 100%;
}

.article-card .article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.article-card .article-content h3,
.article-card .article-content p,
.article-card .article-content .read-article {
  margin: 0;
}